@import url(./style.css);

/*---------------------------RESPONSIVIDADE---------------------------*/

/* MENU */
@media (max-width: 700px){
  #btn-mobile{
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    color: var(--white);
    cursor: pointer;
    gap: .5rem;
  }
  #hamburger{
    border-top: 2px solid var(--red-dark);
    width: 30px;
    margin-top: 3.5px;
  }
  #hamburger::after, #hamburger::before{
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--red-dark);
    margin-top: 7px;
    transition: .4s;
    position: relative;
  }
  #nav.active #hamburger{
    border-top-color: transparent;
  }
  #nav.active #hamburger::before{
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after{
    top: -9px;
    transform: rotate(-135deg);
  }
  nav #menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 60px;
    width: 100%;
    height: 0;
    top: 60px;
    right: 0px;
    background-color: var(--gray-dark);
    z-index: 1000;
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu{
    height: 100vh;
    overflow-y: auto;
    visibility: visible;
  }
  nav a{
    border-bottom: 2px solid var(--red-dark);
    margin: 0 1rem;
  }
}

/*          -----MOBILE-----          */
@media screen and (max-width: 425px){
  body{
    padding-top: 60px;
  }
    /*NAVEGATION*/
    nav{
      align-items: center;

      position: absolute;
    }
    nav .menu{
      gap: 0.8rem;
    }
    nav img{
      height: 70px;
    }
    
    /*HEADER DE APRESENTAÇÃO PESSOAL*/
    #ApresentacaoHeader{
      height: 500px;
      padding-top: 60px;
    }
    #ApresentacaoHeader aside{
      text-align: center;
      min-width: 320px;
    }
    #saudacaoHeader{
      font-size: 18px;
    }
    #nome{
      font-size: 35px;
    }
    #funcaoHeader{
      font-size: 20px;
    }
    #ApresentacaoHeader img{
      display: none;
    }
    
    /*SOBRE MIM*/
    #Sobre{
      padding-top: 60px;
      padding-bottom: 70px;
    }
    #Sobre img{
      display: none;
    }
    #Sobre aside{
      padding: 0;
      margin: 0;
    }
    #Sobre h3{
      text-align: center;
      font-size: 28px;
      margin-bottom: 30px;
    }
    #Sobre p{
      font-size: 15px;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    /*CONHECIMENTOS*/
    #Conhecimentos{
      padding-top: 60px;
      padding-bottom: 70px;
    }
    #Conhecimentos h3{
      margin-bottom: 30px;
      font-size: 28px;
    }
    .CardsTecs{
      gap: 40px;
    }
    .CardsTecs p{
      max-width: fit-content;
    }
    
    /*PROJETOS*/
    #Projetos{
      max-width: auto;
      padding-top: 60px;
      padding-bottom: 70px;
    }
    #Projetos h3{
      font-size: 28px;
    }
    #ContainerCards{
      justify-content: center;
      padding: 0;
    }
    .cardsProjeto{
      border-radius: 6px;
      padding-left: 14px;
      padding-right: 14px;
    }
    .cardsProjeto h2{
      font-size: 18px;
    }
    .cardsProjeto img{
      height: 150px;
    }
    
    /*CONTATO*/
    #Contato{
      padding-top: 60px;
      padding-bottom: 70px;
    }
    #Contato h3{
      font-size: 28px;
    }
    footer{
      font-size: 12px;
    }
    
    }

/*          -----TABLET-----          */
  @media screen and (max-width: 900px){
    nav{
      justify-content: space-between;
      padding: 0 30px 0 30px;
      gap: 0;
    }
    #ApresentacaoHeader img {
      display: none;
    }
    #ApresentacaoHeader aside{
      text-align: center;
    }
    #Sobre img{
      display: none;
    }
    .cardsProjeto img{
      height: 150px;
    }
  }

/*         -----NOTEBOOK-----          */
  @media screen and (max-width: 1150px){
    #ApresentacaoHeader img {
      max-width: 50%;
    }
    #ContainerCards {
      justify-content: space-around;
    }
  }