@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --red-dark: #940000;
  --gray-dark: rgb(19, 19, 19);
  --gray-dark2: rgb(25, 25, 25);
  --white: rgb(211, 211, 211);
}

body {
  padding-top: 60px;
  background-color: var(--red-dark);
  overflow: auto;
}

body h1, h2, h3, span, p, a {
  color: var(--white);
}

body h3 {
  font-size: 30px;
}

body #Sobre, #Conhecimentos, #Projetos, #Contato{
  padding-top: 75px;
  padding-bottom: 75px;
}

/*MENU*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--gray-dark);
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  gap: 9rem;
  z-index: 2;
  border-bottom: solid 1px var(--red-dark);
}

nav #balls{
  display: flex;
}

nav .ball {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

nav #menu {
  display: flex;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  transition: color 1s;
  transition: font-size 1s;
}

nav a:hover {
  color: var(--red-dark);
  font-size: 20px;
}

#btn-mobile{
  display: none;
}

/*HEADER DE APRESENTAÇÃO PESSOAL E IMAGEM*/
#ApresentacaoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-dark2);
  height: 655px;
  padding: 0 20px 0 20px;
}

#ApresentacaoHeader img {
  max-width: 100%;
  height: auto;
  margin-right: 40px;
}

#ApresentacaoHeader aside {
  padding: 0 0 55px 0px;
  max-width: 100%;
  max-width: 600px;
  flex: 1;
}

#saudacaoHeader {
  font-size: 22px;
}

#nome {
  font-size: 35px;
  z-index:1;
}

#nome::after {
  content: '|';
  margin-top: 5px;
  opacity: 1;
  animation: piscar 0.7s infinite;
  color: var(--red-dark);
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#funcaoHeader {
  font-size: 22px;
}

/*SOBRE MIM COM IMAGEM*/
#Sobre {
  display: flex;
  justify-content: center;
}

#Sobre img {
  border-radius: 200px;
  height: 350px;
  margin: 30px;
}

#Sobre aside {
  padding-left: 30px;
  margin: 30px;
}

#Sobre h3 {
  margin-bottom: 40px;
  margin-top: 30px;
}

#Sobre p {
  text-align: justify;
  font-size: 18px;
  max-width: 650px;
  width: auto;
}

/*CONHECIMENTOS*/
#Conhecimentos {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-dark2);
}

#Conhecimentos h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#TecnologiasCards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardsTecs {
  display: flex;
  gap: 70px;
  margin-bottom: 35px;
}

.CardsImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  padding: 10px;
  width: 109px;
  height: 109px;
}

.CardsImage img {
  height: 80px;
}

.AsideCards {
  display: flex;
  align-items: center;
}

/*PROJETOS*/
#Projetos {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  flex-direction: column;
}

#Projetos h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

#ContainerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.cardsProjeto {
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(184, 0, 0);
}

.cardsProjeto h2 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardsProjeto .imgProj {
  height: 250px;
  width: 450px;
}

.cardsProjeto p{
  max-width: 450px;
}

.tecsUsadas img{
  height: 35px;
}



.btn{
  display: flex;
  justify-content: center;
}

.btn a{
  cursor: pointer;
  font-size: 17px;
  color: var(--white);
  background-color: var(--gray-dark2);
  border: 3px var(--gray-dark2) solid;
  border-radius: 10px;
  padding: 3px 20px;
  text-decoration: none;
}

.btn a:hover{
  transition: 0.8s;
  background-color: var(--gray-dark);
}

/*MODAL*/
.modal{
  background-color: var(--gray-dark);
  display: none;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index:3 !important;
  overflow-y: scroll;
}

.btn-nav{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.btn-close{
  cursor: pointer;
  font-size: 17px;
  color: var(--white);
  background-color: var(--red-dark);
  border: 3px var(--gray-dark2) solid;
  border-radius: 10px;
  padding: 3px 20px;
  margin: 5px 10px 10px 0;
}
.btn-close:hover{
  background-color: #a00000;
}

.continerProjct{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

/*CONTATO*/
#Contato {
  background-color: var(--gray-dark2);
  display: flex;
  flex-direction: column;
}

#Contato h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#Contato ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
}

#Contato ul img {
  height: 45px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: var(--white);
}
