@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background-color: rgb(242, 20, 20);
}

/*NAVEGATION*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 22, 22);
  position: fixed;
  width: 100%;
}

nav img{
  height: 5rem;
}

nav ul{
  display: flex;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  color: rgb(231, 0, 0);
  font-size: 18px;
}

/*HEADER DE APRESENTAÇÃO PESSOAL E IMAGEM*/
#ApresentacaoHeader{
  display: flex;
  padding-top: 88px;
  background-color: rgb(25, 25, 25);
  color: rgb(242, 10, 18);
  align-items: center;
}

#saudacaoHeader{
  font-size: 22px;
}

#nome{
  font-size: 35px;
}

#funcaoHeader{
  font-size: 22px;
}

/*SOBRE MIM COM IMAGEM*/
#Sobre{
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 70px;
}

#Sobre img{
  height: 350px;
  margin: 30px;
}

#Sobre aside{
  padding-left: 30px;
  margin: 30px;
}

#Sobre h3{
  font-size: 30px;
  padding-bottom: 10px;
}

#Sobre p{
  text-align: justify;
  font-size: 18px;
}

/*CONHECIMENTOS*/
#Conhecimentos{
  display: flex;
  background-color: rgb(25, 25, 25);
}

#TecnologiasCards img{
  height: 100px;
}