@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body{
  background-color: rgb(242, 20, 20);
}

/*NAVEGATION*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 22, 22);
  position: fixed;
  width: 100%;
}

nav img{
  height: 60px;
}

nav ul{
  display: flex;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  color: rgb(231, 0, 0);
  font-size: 18px;
}

/*HEADER DE APRESENTAÇÃO PESSOAL E IMAGEM*/
#ApresentacaoHeader{
  display: flex;
  padding-top: 60px;
  background-color: rgb(25, 25, 25);
  color: rgb(242, 10, 18);
  align-items: center;
}

#ApresentacaoHeader aside{
  padding-bottom: 55px;
}

#saudacaoHeader{
  font-size: 22px;
}

#nome{
  font-size: 35px;
}

#funcaoHeader{
  font-size: 22px;
}

/*SOBRE MIM COM IMAGEM*/
#Sobre{
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 70px;
}

#Sobre img{
  border-radius: 200px;
  height: 350px;
  margin: 30px;
}

#Sobre aside{
  padding-left: 30px;
  margin: 30px;
}

#Sobre h3{
  font-size: 30px;
  padding-bottom: 10px;
}

#Sobre p{
  text-align: justify;
  font-size: 18px;
}

/*CONHECIMENTOS*/
#Conhecimentos{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgb(25, 25, 25);
}

#Conhecimentos h3{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
  color: rgb(231, 0, 0);
}

#TecnologiasCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardsTecs{
  display: flex;
  color: rgb(231, 0, 0);
  gap: 70px;
  margin-bottom: 35px;
}

.CardsImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: rgb(211, 211, 211);
  padding: 10px;
  width: 109px;
  height: 109px;
}

.CardsImage img{
  height: 80px;
}

.AsideCards{
  display: flex;
  align-items: center;
  color: rgb(211, 211, 211);
}

/*PROJETOS*/
#Projetos{
  display: flex;max-width: 1150px;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 90px;
}

#Projetos h3{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 50px;
}

#ContainerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.cardsProjeto{
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(252, 34, 34);
}

.cardsProjeto h2{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardsProjeto img{
  height: 280px;
}