@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  --red-dark: #940000;
  --gray-dark: rgb(22, 22, 22);
  --gray-dark2: rgb(25, 25, 25);
  --white: rgb(211, 211, 211);
}

body{
  background-color: var(--red-dark);
}

/*NAVEGATION*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--gray-dark2);
  position: fixed;
  width: 100%;
}

nav img{
  height: 60px;
}

nav ul{
  display: flex;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
}

nav a{
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
}

nav li:hover{
  background-color: #212121;
  padding: 10px 5px 5px 5px;
}

/*HEADER DE APRESENTAÇÃO PESSOAL E IMAGEM*/
#ApresentacaoHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  gap: 4rem;
  background-color: rgb(25, 25, 25);
  color: var(--white);
}

#ApresentacaoHeader img{
  height: 35rem;
}

#ApresentacaoHeader aside{
  padding-bottom: 55px;
}

#saudacaoHeader{
  font-size: 22px;
}

#nome{
  font-size: 35px;
}

#funcaoHeader{
  font-size: 22px;
}

/*SOBRE MIM COM IMAGEM*/
#Sobre{
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 70px;
}

#Sobre img{
  border-radius: 200px;
  height: 350px;
  margin: 30px;
}

#Sobre aside{
  padding-left: 30px;
  margin: 30px;
}

#Sobre h3{
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: var(--white);
}

#Sobre p{
  text-align: justify;
  font-size: 18px;
  max-width: 650px;
  color: var(--white);
  width: auto;
}

/*CONHECIMENTOS*/
#Conhecimentos{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: rgb(25, 25, 25);
}

#Conhecimentos h3{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
  color: var(--white);
}

#TecnologiasCards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CardsTecs{
  display: flex;
  gap: 70px;
  margin-bottom: 35px;
}

.CardsImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: rgb(211, 211, 211);
  padding: 10px;
  width: 109px;
  height: 109px;
}

.CardsImage img{
  height: 80px;
}

.AsideCards{
  display: flex;
  align-items: center;
  color: rgb(211, 211, 211);
}

/*PROJETOS*/
#Projetos{
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 90px;
  color: var(--white);
}

#Projetos h3{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 50px;
}

#ContainerCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.cardsProjeto{
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: rgb(184, 0, 0);
}

.cardsProjeto h2{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardsProjeto img{
  height: 280px;
}

/*CONTATO*/
#Contato{
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 80px;
}

#Contato h3{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
  color: var(--white);
}

#Contato ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px
}

#Contato ul img{
  height: 45px;
}

footer{
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: var(--white);
}

/*---------------------------RESPONSIVIDADE---------------------------*/
@media screen and (max-width: 425px){

/*NAVEGATION*/

nav{
  align-items: center;
  flex-direction: column;
  position: absolute;
}

nav ul{
  gap: 0.8rem;
}

nav a{
  font-size: 14px;  
}

nav img{
  height: 70px;
}

/*HEADER DE APRESENTAÇÃO PESSOAL*/
#ApresentacaoHeader{
  height: 500px;
  padding-top: 120px;
}

#ApresentacaoHeader aside{
  text-align: center;
}

#saudacaoHeader{
  font-size: 18px;
}

#nome{
  font-size: 35px;
}

#funcaoHeader{
  font-size: 20px;
}

#ApresentacaoHeader img{
  display: none;
}

/*SOBRE MIM*/
#Sobre{
  padding-top: 60px;
  padding-bottom: 70px;
}

#Sobre img{
  display: none;
}

#Sobre aside{
  padding: 0;
  margin: 0;
}

#Sobre h3{
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

#Sobre p{
  font-size: 15px;
}

/*CONHECIMENTOS*/
#Conhecimentos{
  padding-top: 60px;
  padding-bottom: 70px;
}

#Conhecimentos h3{
  margin-bottom: 30px;
  font-size: 28px;
}

.CardsTecs{
  gap: 40px;
}

/*PROJETOS*/
#Projetos{
  max-width: auto;
  padding-top: 60px;
  padding-bottom: 70px;
}

#Projetos h3{
  font-size: 28px;
}

#ContainerCards{
  justify-content: center;
  padding: 0;
}

.cardsProjeto{
  border-radius: 6px;
}

.cardsProjeto h2{
  font-size: 18px;
}

.cardsProjeto img{
  height: 180px;
}

/*CONTATO*/
#Contato{
  padding-top: 60px;
  padding-bottom: 70px;
}

#Contato h3{
  font-size: 28px;
}

footer{
  font-size: 13px;
}

}